@font-face {
    font-family: 'OldRus';
    src: url('assets/fonts/old_rus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('assets/fonts/HelveticaNeue-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
}

.container.popup-opened {
    grid-template-columns: 50% 50%;
}

.container.popup-opened > .map-container {
    overflow: hidden;
}

.map-container > svg {
    height: 100%;
    width: 100%;
}

.container.popup-opened > .map-container > svg {
    width: 100vmax;
}

.container.popup-opened > .map-container > .map {
    width: max-content;
}

.map {
    height: 100%;
    width: 100%;
    min-width: 100vmax;
}

.popup-container {
    width: 100%;
    height: 100%;
    background-color: #D8E2E5;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 16px;
    border-radius: 25px;
}

.popup-content {
    padding: 20px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.btn-close {
    width: 36px;
    height: 36px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    color: #D90000;
    flex-shrink: 0;
    display: grid;
    place-items: center;
}

.btn-close:active {
    opacity: .6;
}

.popup-header {
    font-family: OldRus;
    text-transform: uppercase;
}

.popup-body {
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) 1fr;
    grid-gap: 40px;
    overflow-y: auto;
    font-family: HelveticaNeueLight;
    font-size: 20px;
    padding-right: 15px;
}

.popup-body img {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px;
    gap: 16px;
}

.popup-footer button {
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E42918;
    font-family: OldRus;
    border-radius: 8px;
}

.popup-footer button.disabled {
    pointer-events: none;
    cursor: crosshair;
    opacity: .6;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    opacity: .6;
}

.welcome-popup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0 0 0 / 12%);
    backdrop-filter: saturate(180%) blur(10px);
    display: grid;
    place-items: center;
    font-family: HelveticaNeueLight;
    overflow-y: scroll;
}

.welcome-popup-wrapper {
    background-color: #D8E2E5;
    display: grid;
    place-items: center;
    border-radius: 20px;
    height: 100%;
    max-height: 600px;
    max-width: 700px;
    position: relative;
}

.welcome-popup-wrapper > .btn-close {
    position: absolute;
    top: 10px;
    left: 10px;
}

.welcome-popup {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-popup-header {
    font-family: OldRus;
    margin-top: 20px;
}

.welcome-popup-description {
    font-size: 20px;
}

.welcome-popup-instruction {
    font-size: 20px;
}

.welcome-popup-btn {
    place-self: center;
    flex-grow: 0;
    padding: 25px 75px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E42918;
    font-family: OldRus;
    border-radius: 8px;
    margin: 20px 0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D90000;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #A30000;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #A30000;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Фоновый цвет прелоадера */
    z-index: 1000; /* На переднем плане */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Цвет фона прелоадера */
    border-top: 8px solid #e50307; /* Цвет верхней части прелоадера */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Анимация вращения */
}

.image-button-sound {
    background-image: url('assets/img/sound-on.png'); /* Укажите путь к вашему изображению */
    background-size: contain; /* Настройка размера изображения */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    border: none; /* Убираем рамку */
    width: 36px; /* Ширина кнопки */
    height: 36px; /* Высота кнопки */
    cursor: pointer; /* Курсор при наведении */
    color: #A30000;
    border-radius: 25px;
}

.image-button-sound.sound-off {
    background-image: url('assets/img/sound-off.png');
}

.popup-buttons {
    display: flex; /* Используем Flexbox для размещения элементов в ряд */
    justify-content: space-between; /* Распределяем свободное пространство между элементами */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .popup-content {
        gap: 8px;
        padding: 20px 20px 0;
    }

    .popup-body {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }

    .popup-footer {
        padding: 0 20px 10px;
    }

    .popup-footer > .btn-prev {
        font-size: 12px;
        padding: 8px;
    }

    .popup-footer > .btn-next {
        font-size: 12px;
        padding: 8px;
    }

    .btn-close, .image-button-sound {
        width: 24px;
        height: 24px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .welcome-popup-wrapper {
        width: 100%;
        height: 100%;
        max-height: unset;
    }

    #audio-toggle {
        transform: translate(-85px, 65px);
        -ms-transform: translate(-85px, 65px); /* IE 9 */
        -webkit-transform: translate(-85px, 65px); /* Safari and Chrome */
        -o-transform: translate(-85px, 65px); /* Opera */
        -moz-transform: translate(-85px, 65px); /* Firefox */
    }

    #logotg {
        transform: translate(-1635px, 130px);
        -ms-transform: translate(-1635px, 130px); /* IE 9 */
        -webkit-transform: translate(-1635px, 130px); /* Safari and Chrome */
        -o-transform: translate(-1635px, 130px); /* Opera */
        -moz-transform: translate(-1635px, 130px); /* Firefox */
    }

    #logovk {
        transform: translate(-1720px, 195px);
        -ms-transform: translate(-1720px, 195px); /* IE 9 */
        -webkit-transform: translate(-1720px, 195px); /* Safari and Chrome */
        -o-transform: translate(-1720px, 195px); /* Opera */
        -moz-transform: translate(-1720px, 195px); /* Firefox */
    }

    #logook {
        transform: translate(-1805px, 260px);
        -ms-transform: translate(-1805px, 260px); /* IE 9 */
        -webkit-transform: translate(-1805px, 260px); /* Safari and Chrome */
        -o-transform: translate(-1805px, 260px); /* Opera */
        -moz-transform: translate(-1805px, 260px); /* Firefox */
    }

    .container > .map-container {
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .container > .map-container > svg {
        width: unset;
        height: 100%;
    }

    .container.popup-opened > .map-container > svg {
        width: 100vmax;
        height: unset;
    }

    .container.popup-opened {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
    }
}

