@font-face {
    font-family: 'OldRus'; 
    src: url('assets/fonts/old_rus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight'; 
    src: url('assets/fonts/HelveticaNeue-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    height: 953px;
    max-width: 1920px;
    position: relative;
}

.container.popup-opened {
    display: grid;
    grid-template-columns: 40% 60%;
}

.container.popup-opened > .map {
    overflow: scroll;
}

.map {
    height: 953px;
    max-width: 1920px;
}

.popup-container {
    width: 100%;
    height: 100%;
    background-color: #D8E2E5;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 16px;
}

.popup-content {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.btn-close {
    width: 28px;
    height: 28px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.btn-close:active {
    opacity: .6;
}

.popup-header {
    font-family: OldRus;
    text-transform: uppercase;
}

.popup-body {
    display: grid;
    grid-template-columns: minmax(0, 500px) 1fr;
    grid-gap: 16px;
    overflow-y: auto;
    font-family: HelveticaNeueLight;
    font-size: 20px;
}

.popup-body img {
    object-fit: cover;
    width: 100%;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px;
}

.popup-footer button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E42918;
    font-family: OldRus;
    border-radius: 8px;
}

.popup-footer button.disabled {
    pointer-events: none;
    cursor: crosshair;
    opacity: .6;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    opacity: .6;
}

.welcome-popup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0 0 0 / 12%);
    backdrop-filter: saturate(180%) blur(10px);
    display: grid;
    place-items: center;
    font-family: HelveticaNeueLight;
}

.welcome-popup-wrapper {
    background-color: #D8E2E5;
    width: 60%;
    height: 80%;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.welcome-popup {
    width: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    gap: 24px;
    grid-template-rows: 1fr min-content min-content 1fr;
    text-align: center;
}

.welcome-popup-header {
    font-family: OldRus;
}

.welcome-popup-description {
    font-size: 20px;
}

.welcome-popup-instruction {
    font-size: 20px;
}

.welcome-popup-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #E42918;
    font-family: OldRus;
    border-radius: 8px;
}